body {
    font-family:Verdana, Geneva, sans-serif;
    background-color:#D9D3D3;
}



/*#box{*/
    /*width:200px;*/
    /*height:200px;*/
    /*background-color: #95a7ff;*/
    /*display:none;*/
    /*position:relative;*/
    /*text-align: center;*/
/*}*/

#results{
    border: 3px solid #333;
    background-color: #2c3e50;
    width: 50%;
    font-family: Raleway;
    font-weight: lighter;
    color: #ffffff;
    display:none;
    position:relative;
    text-align: center;
    font-size: 50px;
}
#time{
    font-family: "Avenir Next";
    font-weight: lighter;
    font-size: 30px;
    color: #ffffff;
}
p{
    font-family: "Avenir Next";
    font-weight: lighter;
    font-size: 30px;
    color: #ffffff;
}