body {
    font-family:Verdana, Geneva, sans-serif;
    background-color:#D9D3D3;
}

#box{
    width:200px;
    height:200px;
    background-color:green;
    display:none;
    position:relative;
    text-align: center;
}

p{
    color:black;
    text-align:center;
}